<div  class="comment-container nes-container is-rounded">
  <div class=comment-header>
    <div class="votes-container">
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class="nes-icon is-small star"></i>
      <%end%>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class="nes-icon is-small star is-empty"></i>
      <%end%>
    </div>
    <div class="comment-user">
      <%= link_to "#{comment.user.username }", user_path(comment.user), class:"nes-text is-warning"%>
      <span id="comment_vote<%= comment.id %>">
        <%= comment.vote_points %> points
      </span>
      <span>
        <small>
          <%= "#{time_ago_in_words(comment.created_at)} ago"%>
        </small>
      </span>
    </div>
  </div>
  <div id="comment_edit<%=comment.id %>">
    <%= comment.body%>
    <% if logged_in? && current_user.id == comment.user_id %>
      <%= link_to 'Delete', [comment.post, comment], class: "nes-btn is-error",
               method: :delete,
               data: { confirm: "Are you sure?" } %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class:'nes-btn is-warning', remote: true %>
    <% end%>
  </div>
</div>
