<div class="list-group">
  <div class="list-group-item">
    <div class="d-flex align-items-center ">
      <div class='d-flex flex-column p-2'>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
          <i class="fas fa-sort-up"></i>
        <%end%>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
          <i class="fas fa-sort-down"></i>
        <%end%>
      </div>
      <p class="font-weight-bold mb-0">
        Posted by: <%= comment.user.username %>
      </p>
    </div>
    <div class="p-2">
      <p>
        <%= comment.body%>
      </p>
      <p>
        <%= link_to 'Delete', [comment.post, comment], class: "btn btn-danger",
               method: :delete,
               data: { confirm: "Are you sure?" } %>
      </p>
    </div>
  </div>
</div>
