<div class="comment-container nes-container is-rounded">
  <div class=comment-header>
    <div class="votes-container">
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class="nes-icon is-small like"></i>
      <%end%>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class="nes-icon is-small like is-empty"></i>
      <%end%>
    </div>
    <div class="comment-user">
      <%= link_to "#{comment.user.username }", user_path(comment.user), class:"nes-text is-warning"%>
      <span id="comment_<%= comment.id %>">
        <%= comment.vote_points %> points
      </span> <span>
        <%= time_ago_in_words(comment.created_at) %>
      </span>
    </div>
  </div>
  <div>
    <%= comment.body%>
    <% if current_user.id == comment.user_id %>
      <%= link_to 'Delete', [comment.post, comment], class: "btn btn-danger",
               method: :delete,
               data: { confirm: "Are you sure?" } %>
    <% end%>
  </div>
</div>
