<div class="container d-flex flex-column space-around">
  <h3>
    <%= @user.username %>
  </h3>
  <hr/>
  <h6>Total Points: 
    <mark><%= @user.vote_points.to_s%></mark>
  </h6>
  <h6>Total Posts: 
    <mark><%= @user.posts.size%></mark>
  </h6>
  <h6>Total Posts: 
    <mark><%= @user.posts.size%></mark>
  </h6>
  <h6>Member Since: 
    <mark><%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %></mark>
  </h6>
</div>
