<%= form_with model: @post do |form| %>
  <div class="mb-3">
    <%= form.label :title, class:'form-label' %><br>
    <%= form.text_field :title, class: "form-control" %>
    <%= @post.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <%end%>
  </div>
  <div>
    <%= form.label :url, class: 'form-label' %>
    <%= form.text_field :url, class: 'form-control' %>
    <%= @post.errors.full_messages_for(:url).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit 'Post', class: "btn btn-primary" %>
  </div>
<% end %>
