<h1>Reddit Posts</h1>
<div>
  <%= link_to "New Post", new_post_path%>
</div>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
      <%= post.url %>
      <p >Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <%= post.user.username%>
    </li>
  <% end %>
</ul>
 