<%= link_to vote_post_path(@post, vote: true), method: 'post', remote: true do %>
  <i class="fas fa-sort-up"></i>
<%end%>
<%= @post.vote_points %>
<%= link_to vote_post_path(@post, vote: false), method: 'post', remote: true do %>
  <i class="fas fa-sort-down"></i>
<%end%>
<%= link_to @post.title  %>
</span>
<p >Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.username %> <%= link_to("#{@post.comments.size} comments", post_path(@post)) %></p>
</li>
<li><%= link_to "Delete Post", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<h2><%= @post.comments.size %> Comments</h2>
<h2>Leave a comment:</h2>
<%= render 'comments/form' %>
<% @post.comments.select { |comment| comment.created_at }.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
