<h1><%= @post.title %> </h1>
<p><%= @post.url %></p>
<li><%= link_to "Delete Post", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<<<<<<< HEAD
</div>
<div>
  <h2>Comments:</h2>
  <%= render @post.comments %>
</div>
<div>
  <h2> Add comment to post </h2>
  <%= render "comments/form" %>
</div>
=======
>>>>>>> parent of 2adcc44... add form for commenting
