<!DOCTYPE html>
<html>
  <head>
    <title>Microreddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class='container'>
      <div class="row">
        <div class="col-10">
          <%= render 'layouts/nav' %>
          <%= yield %>
        </div>
        <div class='col d-flex flex-column align-items'>
          <% if current_user %>
            <div>
              <%= link_to "New Post", new_post_path%>
            </div>
          <% else %>
            <%= render template: 'sessions/new' %>
          <%end%>
        </div>
      </div>
    </body>
  </html>
